@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@media screen and (min-width:320px) and (max-width:800px)  {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Roboto;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        border: 0.3vw solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 1.968vw;
    }

    .top {
        width: 100%;
        height: 7vw;
        background: #FFDC40;
        border-top-left-radius: 1.568vw;
        border-top-right-radius: 1.568vw;
    }

    h1 {
        width: 30.188vw;
        height: 10.951vw;
        margin-top: 5.128vw;
        text-align: center;
        font-size: 6.5vw;
    }

    .sort-photo {
        margin-top: 1vw;
        margin-bottom: 2vw;
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }
    
    .sort1, .sort2{
        width: 5vw;
        height: 5vw;
    }

    .sort-photo:hover {
        cursor: pointer;
    }

    .input-container,
    .listClass {
        width: 65.826vw;
        border: 0.087vw solid #C4C4C4;
        padding: 0.5vw;
    }

    .input-container {
        display: flex;
        justify-content: space-between;
        padding: 0.5vw;
        height: 7.472vw;
        border-radius: 2vw 2vw 2vw 2vw;
    }

    .listClass {
        display: none;
        border-bottom: none;
        border-radius: 2vw 2vw 0 0;
        list-style: none;
        max-height: 35vw;
        overflow: auto;
    }

    input {
        margin-top: 1vw;
        border: none;
        outline: none;
        width: 19vw;
        height: 2.8vw;
        border-radius: 0.8vw;
    }

    .button1 {
        width: 10vw;
        height: 10vw;
        background: #9953F1;
        border-radius: 50%;
        border: 0vw;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button2 {
        width: 30.021vw;
        height: 10vw;
        background: #833AE0;
        border-radius: 6.163vw;
        border: 0vw;
        color: white;
        display: flex;
        align-items: center;

    }

    .button2:hover {
        background-color: #3e314d;
        cursor: pointer;
    }

    .del {
        margin-top: 1.5vw;
        background: none;
        border: none;
        outline: none;
        width: 4vw;
        height: 4vw;
        background-image: url("./photo/delBtn.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .del:hover {
        background-image: url("./photo/delBtn1.svg");
        cursor: pointer;
    }

    .buttons {
        margin-top: 6vw;
        margin-bottom: 6vw;
        font-size: 6vw;

    }

    .addtext {
        margin: 3vw;
    }

    .sort2 {
        display: none;
    }

    .delete2 {
        margin-top: 1.5vw;
        background-image: url('/photo/delBtn.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 3.5vw;
        height: 3.5vw;
        border: none;
        background-color: white;
        outline: none;

    }

    .delete2:hover {
        background-image: url('/photo/delBtn1.svg');
        cursor: pointer;
    }

    .item {
        line-height: 250%;
        display: flex;
        justify-content: space-between;
    }
    
}