@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media screen and (min-width:801px) {


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Roboto;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29.167vw;
        border: 0.087vw solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 0.868vw;
    }

    .top {
        width: 100%;
        height: 3vw;
        background: #FFDC40;
        border-top-left-radius: 0.868vw;
        border-top-right-radius: 0.868vw;
    }

    h1 {
        width: 17.188vw;
        height: 2.951vw;
        margin-top: 1.128vw;
        text-align: center;
        font-size: 2.5vw;
    }

    .sort-photo {
        margin-top: 2vw;
        margin-bottom: 1vw;
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }

    .sort-photo:hover {
        cursor: pointer;
    }

    .input-container,
    .listClass {
        width: 24.826vw;
        border: 0.087vw solid #C4C4C4;
        padding: 0.5vw;
    }

    .input-container {
        display: flex;
        justify-content: space-between;
        padding: 0.5vw;
        height: 3.472vw;
        border-radius: 1vw 1vw 1vw 1vw;
    }

    .listClass {
        display: none;
        border-bottom: none;
        border-radius: 1vw 1vw 0 0;
        list-style: none;
        max-height: 15vw;
        overflow: auto;
    }

    input {
        border: none;
        outline: none;
        width: 20vw;
        height: 2.8vw;
        border-radius: 0.8vw;
    }

    .button1 {
        width: 3.646vw;
        height: 3.646vw;
        background: #9953F1;
        border-radius: 6.163vw;
        border: 0vw;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button2 {
        width: 13.021vw;
        height: 3.646vw;
        background: #833AE0;
        border-radius: 6.163vw;
        border: 0vw;
        color: white;
        display: flex;
        align-items: center;

    }

    .button2:hover {
        background-color: #3e314d;
        cursor: pointer;
    }

    .del {
        margin-top: 0.434vw;
        background: none;
        border: none;
        outline: none;
        width: 1.5vw;
        height: 1.5vw;
        background-image: url("/photo/delBtn.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .del:hover {
        background-image: url("/photo/delBtn1.svg");
        cursor: pointer;
    }

    .buttons {
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
        font-size: 1.215vw;

    }

    .addtext {
        margin: 3vw;
    }

    .sort2 {
        display: none;
    }

    .delete2 {
        margin-top: 0.434vw;
        background-image: url('/photo/delBtn.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 1.5vw;
        height: 1.5vw;
        border: none;
        background-color: white;
        outline: none;

    }

    .delete2:hover {
        background-image: url('/photo/delBtn1.svg');
        cursor: pointer;
    }

    .item {
        line-height: 250%;
        display: flex;
        justify-content: space-between;
    }
}